div{
    background-color: rgb(95, 52, 2);
    width: 300px;
    height: 300px;
    font-size: 3em;
    display:block;
    
}
span{
    background-color: rgb(106, 4, 104);
    font-size: 3em;
    width: 200px;
    height: 200px;
    display: inline;/*none will remove the display inline block will do what inline will do but wont affect the width*/
    
}